<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <style>
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;700&display=swap');
        body{
            font-family: 'Anek Telugu', sans-serif;

        }
    </style>


    <title>Hello, world!</title>
</head>

<body class="container">
    <h1>GuestBook
        <a href="/entries" class="btn btn-primary pull-right">Write in the GuestBook</a>
    </h1>


    